* {
    padding: 0;
    margin: 0;
    outline: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}


body {
    font-family: 'Allura', cursive;
    font-family: 'Arizonia', cursive;
    font-family: 'Ballet', cursive;
    font-family: 'Bilbo Swash Caps', cursive;
    font-family: 'Cookie', cursive;
    font-family: 'Italianno', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Lovers Quarrel', cursive;
    font-family: 'Parisienne', cursive;
    font-family: 'Playball', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Qwigley', cursive;
    font-family: 'Lobster', cursive;
    background: linear-gradient(to right, #4b5204, #5a4909, #4b5204, #604403, #4b5204);
}

/* nav start */
.navbar {
    background: linear-gradient(to right, #4b5204, #5a4909, #4b5204, #604403, #4b5204);
}

.navbar ul {
    display: flex;
}

.navbar ul img {
    width: 60px;
    height: 60px;
    margin: 0px 0px;
}

.navbar ul li {
    padding: 20px 55px 0px;
}

.navbar ul li a {
    color: black;
    font-family: 'Lobster', cursive;
    font-size: 18px;
}

.navbar ul li i {
    padding: 0 12px 0 12px;
}

/* nav end */

/* menu start */

.menu {
    background: linear-gradient(to right, #4b5204, #5a4909, #4b5204, #604403, #4b5204);
    border-top: 4px solid #5a4909;
}

.menu ul {
    display: flex;
}

.menu ul li {
    padding-top: 12px;
}

.menu ul li a {
    padding-left: 69px;
    padding-right: 54px;
    color: #fff;
}

/* menu end */

/* banner start */

/* #carouselExampleCaptions {
    border-top: 5px;
    border-bottom: 20px;
    color: rgba(0, 204, 255, 0.788);
    border-style: solid;
    border-left: 0px;
    border-right: 0px;
} */

.carousel-img {
    position: relative;
}

.carousel-item img {
    width: 100%;
    height: 600px;
}

.carousel-item .overlay {
        height: 12px;
        background: rgba(255, 255, 255, 0.158);
        margin-top: -34px;
        transform: scale(1);
} 


.carousel-caption h2 {
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Lobster', cursive;
    font-weight: bolder;
    letter-spacing: 2px;
    background: rgba(255, 235, 205, 0.253);
    padding: 8px 0px 8px 0px;
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 811px;
    margin-bottom: 10px;
    border: 2px solid rgba(255, 235, 205, 0.082);
    border-radius: 4%;
}

.carousel-caption p {
    color: rgb(0, 0, 0);
    font-family: 'Lobster', cursive;
    /* font-weight: bold; */
    font-size: 18px;
    letter-spacing: 1px;
    background: rgba(255, 235, 205, 0.253);
    border: 2px solid rgba(255, 235, 205, 0.055);
    border-radius: 4%;
    margin-top: 0px;
    margin-left: -1px;
    margin-right: 442px;
    margin-bottom: 126px;
    text-align: left;
}

/* banner end */

/* researh start */

.second {
    background-color: #3a300d;
    height: 1668px;
}

.research ul {
    display: flex;
    /* margin-top: 12px; */
}

.research h2 {
    color: #fff;
    margin-right: 0px;
    margin-left: -33px;
    margin-top: 15px;
}

.research ul li {
    margin-left: 1115px;
    margin-top: 22px;
}

.research i {
    font-size: 12px;
    color: #fff;
    letter-spacing: 8px;
}

.research i:hover {
    color: rgba(255, 255, 255, 0.329);
}

/* flex */

.box_main {
    display: flex;
}

.box {
    width: 302px;
    height: 486px;
    background-color: #fffffd;
    margin-right: 22px;
    border: 6px solid #787459;
    border-radius: 6%;
}

.box img {
    width: 259px;
    height: 120px;
    margin-top: 28px;
    margin-left: 15px;
}

.box_2 {
    width: 259px;
    background-color: #fffffd;
    margin-top: 30px;
    margin-left: 15px;
}

.box_2 h6 {
    font-family: 'Poppins', sans-serif;
}

.box_2 p {
    font-family: sans-serif;
    line-height: 25px;
}

.box_3 {
    height: 80px;
    width: 80px;
    background-color: #4e5708;
    border: 4px solid #c4c3be;
    border-radius: 50%;
    margin-left: 32%;
    margin-top: 72px;
}

.box_3 h4 {
    color: #fff;
    margin-left: 11px;
    margin-top: 20px;
}


/* flex */

/* home start */

.home {
    margin-top: 4%;
    background: linear-gradient(to bottom, #291f06, #291f06, #1d170b);
    border-radius: 5px;
    position: relative;
}

.home i {
    color: #b7d763;
    background-color: #fff;
    border: 6px solid #829c3b;
    border-radius: 51%;
    padding: 5.5px 4.5px 4.5px 4.5px;
    font-size: 18px;
    margin-left: -4px;
    margin-right: 8px;
    margin-top: 13px;
    margin-bottom: 13px;
}

.home a {
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
}

.arrow {
    width: 0;
    height: 0;
    margin-left: 8.6px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: 51px;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #829c3b;
}

.class h2 {
    margin-top: 80px;
}

/* search start */

.home ul {
    display: flex;
}

.home ul li {
    text-align: right;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 73%;
}

.search_box {
    position: absolute;
    background: transparent;
    padding: 10px;
}

.search-btn {
    color: #291f06;
    background: transparent;
    margin-left: -28px;
}

.search_box i {
    color: #332707d0;
    border: none;
    padding: 0px 0px;
    background: transparent;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.search_txt {
    color: #fff;
    background: #504a3a;
    font-family: sans-serif;
    border: 2px solid #504a3a;
    border-radius: 4px;
    padding-left: 6px;
}

/* search end */
/* home end */

/* latest start */

.latest {
    background: #291f06;
    margin-top: -19px;
    margin-bottom: 0px;
    border-radius: 12px;
}

.latest h4 {
    color: #fff;
    margin-left: 30px;
    /* margin-top: 16px; */
    /* margin-bottom: 2px; */
    padding-top: 14px;
    padding-bottom: 10px;
}

.latest ul {
    display: flex;
    margin-top: 10px;
}

.latest ul li {
    margin-left: 800px;
}

.bbox_main {
    display: flex;
    background-color: transparent;
    height: 150px;
}

/* .bbox {
    width: 190px;
    height: 147px;
    background-color: blue;
    margin-right: 4px;
    margin-left: 32px;
} */

.bbox img {
    width: 190px;
    height: 147px;
    border: 4px solid #928f7e;
    margin-left: 29px;
}

.bbox2 {
    width: 385px;
    height: 147px;
    color: #fff;
    background: transparent;
    margin-right: 4px;
    margin-left: 32px;
}

.bbox2 p {
    font-family: sans-serif;
}

.bbox_main2 {
    display: flex;
    background-color: #291f06;
    height: 150px;
    margin-top: 2%;
}

.bbox_main3 {
    display: flex;
    background-color: #291f06;
    height: 150px;
    margin-top: 2%;
}

.bbox_main4 {
    display: flex;
    background-color: #291f06;
    height: 150px;
    margin-top: 2%;
}

/* test footer start */

.start {
    margin-top: 27px;
    /* margin-bottom: 0px; */
    margin-left: 62px;
    /* margin-right: 0px; */
    padding-bottom: 86px;
}

.pre ul {
    display: flex;
    margin-left: 50px;
}

.pre ul li {
    padding: 18px 10px;
    margin-top: 18px;
    margin-bottom: -18px;
    margin-left: 0px;
    margin-right: 0px;
}

.pre a:hover {
    color: #b7d763;
}

.pre a {
    color: #fff;
    font-size: 18px;
}

.one ul {
    display: flex;
    margin-left: 159px;
    margin-top: -45px;
    margin-bottom: 0px;
}

.one ul li {
    padding: 0px 10px;
    margin-top: 0px;
    margin-bottom: -15px;
    margin-left: 0px;
    margin-right: 5px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #fff;
}

.one a {
    color: #3a300d;
    font-size: 18px;
}

.pre a:hover {
    color: #b7d763;
}

.one ul li:hover {
    background: #b7d763;
    border: 2px solid #b7d763;
}

.next ul {
    display: flex;
    margin-left: 19.6%;
    margin-top: -28px;
    /* margin-bottom: 0px;*/
}

.next ul li {
    padding: 0px 10px;
    margin-top: 15px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.next a {
    color: #fff;
    font-size: 18px;
}

.next a:hover {
    color: #b7d763;
}

/* test footer end */

.catt {
    width: 233px;
    height: 338px;
    background: linear-gradient(to right, #1d170b, #291f06, #291f06, #291f06, #291f06, #1d170b);
    color: #fff;
    margin-left: 80px;
    margin-top: -58px;
    /* margin-right: 6px; */
    /* padding: 0px 0px 228px 0px;*/

}
.catt p {
    border-bottom: 2px solid #fff;
    border-bottom-style: dashed;
    margin-top: 0px;
    padding-bottom: 11.3px;
}
.catt h4 {
    margin-left: 12px;
    /* padding: 0px 0px 0px 0px; */
}

.catt a {
    color: #fff;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.catt i {
    color: #1d170b;
    font-size: 10px;
    border: 4px solid #fff;
    border-radius: 50%;
    margin: 0px 12px;
    padding: 0px 0px;
}

.pen p {
    margin-top: -21px;
    margin-left: 12px;
    color: rgba(255, 255, 255, 0.596);
    /* text-decoration:  overline dotted red; */
}

/* gallery start  */

.gallery3 {
    width: 233px;
    height: 588px;
    background: linear-gradient(to right, #1d170b, #291f06, #291f06, #291f06, #291f06, #1d170b);
}

.gly_head h4 {
    margin: 0px 0px 14px 11px;
}

.gallery {
    display: flex;
}

/* .gly1 {
    height: 101px;
    width: 101px;
    margin: 0px -1px 4.5px 10px;
} */

.gly1 img {
    height: 101px;
    width: 101px;
    margin: 0px -1px 4.5px 10px;
}

.gallery2 {
    display: flex;
}

/* .gly {
    height: 101px;
    width: 101px;
    margin: 4.5px -1px 0px 10px;
} */

.gly img {
    height: 101px;
    width: 101px;
    margin: 4.5px -1px 0px 10px;
}


.three {
    margin: 12px 0px 0px 93px;
}

.three i {
    color: #fff;
    border: none;
    font-size: 8px;
    margin: 0px 3px;
}

.testimonial h3 {
    margin: 0px 0px 14px 11px;
}

.testimonial p i {
    color: skyblue;
    border: none;
    font-size: 14px;
    margin: 0px 14px 0px 11px;
}

.testimonial p {
    text-align: left;
    font-size: 14px;
    font-family: sans-serif;
    letter-spacing: .5px;
    margin: 0px 14px 0px 11px;
}

.test {
    width: 233px;
    height: 111px;
    background: linear-gradient(to right, #1d170b, #291f06, #291f06, #291f06, #291f06, #1d170b);
}

.test p {
    color: #77884d;
    font-size: 14px;
    text-align: left;
    font-family: sans-serif;
    text-decoration: underline;
    margin: 12px 14px;
}

/* gallery end */
/* latest end */
/* research end */
/* our start */

.catg h4 {
    margin: -59px 0px 0px 28px;
}


.cat {
    width: 275px;
    height: 35px;
    color: #fff;
    background: #c1d528;
    margin: 0px 4px 0px 19px;
    border: 2px solid #c1d528;
    border-radius: 6px;
}

.cat i {
    color: #4d5317;
    margin: 9px 9px 0px 18px;
}

.cat a {
    color: #4d5317;
}

.cat1 {
    width: 275px;
    height: 232px;
    color: #fff;
    margin: 4px 4px 0px 19px;
}

.cat1 .overlay {
    color: rgba(0, 0, 0, 0.61);
    width: 269px;
    height: 50px;
    margin-top: -52px;
    margin-left: 3px;
}

.cat1 .overlay p {
    margin-bottom: 0px;
    font-size: 14px;
    font-family: sans-serif;
    padding: 8px 2px 8px 1px;
}

.cat1 img {
    width: 275px;
    height: 232px;
    border: 3px solid #fff;
    border-radius: 4px;
}

.cat2 {
    width: 275px;
    height: 35px;
    background: #4d5317;
    margin: 4px 4px 0px 19px;
    border: 2px solid #4d5317;
    border-radius: 6px;
}

.cat2 i {
    color: #fff;
    margin: 9px 9px 0px 18px;
}

.cat2 a {
    color: #fff;
}

/* our end */
/* most start */

.cat4 ul {
    display: flex;
}

.cat4 a {
    color: #fff;
    margin: 8px 0px 0px -10px;
    font-size: 24px;
}

.cat4 a:hover {
    color: #c1d528;
}

.cat4 p {
    color: #fff;
    margin: 8px 0px 0px 14px;
    font-size: 24px;
    cursor: pointer;
}

.cat4 p:hover {
    color: #c1d528;
}

.cont {
    display: flex;
}

.cont h6 {
    color: #1d170b;
    border: 1px solid #1d170b;
    border-radius: 50%;
    background: #c1d528;
    border: 2px solid #c1d528;
    border-radius: 50%;
    margin: 8px 17px 14px 21px;
    padding: 3px 11px 3px 10px;
}

.conn a {
    color: #fff;
    font-size: 14px;
    font-family: sans-serif;
    margin: 3px 0px -4px 2px;
}

.conn p {
    color: #bbca35;
    font-size: 12px;
    font-family: sans-serif;
    margin: -2px 0px -4px 2px;
}

/* most end */

/* new start */

.product {
    background: #4c5400;
}

.new ul {
    display: flex;
}

.new h2 {
    color: #fff;
    margin-right: 0px;
    margin-left: -33px;
    margin-top: 15px;
    padding: 0px 0px 0px 0px;
}

.new ul li {
    margin-left: 1115px;
    margin-top: 22px;
}

.new i {
    font-size: 12px;
    color: #fff;
    letter-spacing: 8px;
}

.new i:hover {
    color: rgba(255, 255, 255, 0.329);
}

.nproduct {
    display: flex;
}

.nprdct {
    width: 201px;
    height: 201px;
    margin-right: 16px;
    background: #fff;
}

.nprdct img {
    width: 201px;
    height: 201px;
}

.overlay {
    height: 34px;
    background: rgba(0, 0, 0, 0.61);
    margin-top: -34px;
    transform: scale(1);
}

.overlay p {
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    margin-left: 4px;
}

/* new end */

/* mobile start */

.mobile {
    display: flex;
}

.mobile h2 {
    color: #fff;
}
.mob {
    width: 312px;
    height: 312px;
    background-color: #404a01;
    margin-right: 12px;
    margin-top: 73px;
    margin-bottom: 56px;
}

.mob img {
    width: 44px;
    height: 44px;
    margin-top: -3px;
    margin-bottom: 0px;
}
.mob p {
    color: #fff;
    margin: 0px 27px;
}

.mob ul {
    display: flex;
    margin-top: 26px;
    margin-left: -11px;
}

.mob ul li {
    padding-right: 17px;
}

.mob p {
    color: #fff;
    font-size: 16px;
    font-family: sans-serif;
    text-align: justify;
}
.mob1 {
    width: 312px;
    height: 312px;
    background-color: #404a01;
    margin-right: 12px;
    margin-top: 73px;
    margin-bottom: 56px;
}

.mob1 img {
    width: 44px;
    height: 44px;
    margin-top: -3px;
    margin-bottom: 0px;
}

.mob1 ul {
    display: flex;
    margin-top: 26px;
    margin-left: -11px;
}

.mob1 ul li {
    padding-right: 17px;
}

.mob1 i {
    font-size: 8px;
    padding: 0px 15px 0px 0px;
}

.mob1 p {
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
    line-height: 35px;
    margin: 0px 0px 0px 28px;
    padding: 0px 0px 0px 0px;
}


.mob2 {
    width: 312px;
    height: 312px;
    background-color: #404a01;
    margin-right: 12px;
    margin-top: 73px;
    margin-bottom: 56px;
}

.mob2 img {
    width: 44px;
    height: 44px;
    margin-top: -3px;
    margin-bottom: 0px;
}

.mob2 ul {
    display: flex;
    margin-top: 26px;
    margin-left: -11px;
}

.mob2 ul li {
    padding-right: 17px;
    padding-left: 0px;
}

.mob2 i {
    color: #bbca35;
    font-size: 20px;
    padding: 0px 15px 0px 0px;
}

.mob2 a {
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
    /* padding: 0px 15px 0px 0px; */
}

.mob2 p {
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    line-height: 35px;
    margin: 0px 0px 0px 28px;
    padding: 0px 0px 0px 0px;
}

.mob3 {
    width: 312px;
    height: 312px;
    background-color: #404a01;
    margin-right: 12px;
    margin-top: 73px;
    margin-bottom: 56px;
}

.mob3 p {
    color: #fff;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0px 0px 0px 28px;
    padding: 0px 0px 0px 0px;
}

.mob3 img {
    width: 44px;
    height: 44px;
    margin-top: -3px;
    margin-bottom: 0px;
}

.mob3 ul {
    display: flex;
    margin-top: 26px;
    margin-left: -11px;
}

.mob3 ul li {
    padding-right: 17px;
}

.fb ul {
    display: flex;
}

.fbb ul {
    display: flex;
}

.fbb ul li {
    padding: 0px px 0px 0px;
}

.form-control {
    display: block;
    width: 84%;
    padding: .375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: 0px 0px 0px 0px;
}

#email {
    margin: 8px 0px 0px 20px;
}

button {
    margin: 16px 0px 0px 160px;
    border: 0px;
    padding: 4px 12px;
    border-radius: 6px;
    color: #404a01;
}

button:hover {
    background: #c2d60c;
    color: #fff;
}
/* mobile end */

/* footer start */

.footer {
    background: linear-gradient(to bottom, #353d04, #363e02, #3e4502, #444c01, #4a5006);
}

.footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer ul li {
    text-align: center;
    color: #fff;
    margin: 44px 8px;
    font-size: 18px;
    border-right: 3px solid #bbca35dc;
    padding-right: 20px;
}

.copy {
    color: #fff;
    font-family: sans-serif;
    padding-bottom: 12px;
}

/* footer end */
